.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inputGroup {
  position: relative;
}

.inputGroup .input {
  padding: 0.6rem 0.4rem;
  background-color: transparent;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.label {
  position: absolute;
  top: 0.7rem;
  left: 0.6rem;
  transition: all .4s;
  color: #6e6c6c;
  font-size: 0.9rem;
  pointer-events: none;
}

.input:focus ~ .label {
  top: -10px;
  background-color: #e4e6e7;
  color: #000;
  font-weight: bold;
}

.labelFocus {
  top: -10px !important;
  background-color: #e4e6e7;
  color: #000;
  font-weight: bold;
}

.saveBtn {
  background-color: #4caf50;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all .4s;
}

.saveBtn:hover {
  background-color: #409444;
}

.cancelBtn {
  background-color: #e72333;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  color: #fff;
  transition: all .4s;
  text-align: center;
  font-size: 0.8rem;
}

.cancelBtn:hover {
  background-color: #b32a35;
}

@media (min-width: 1024px) {
  .form {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 400px;
  }
}